.btn-menu-principal {
  &:active {
		border-bottom: 3px solid $light;
  }

  &:hover {
		border-bottom: 3px solid $hover-color;
  }
}

.btn-circle {
	background-color: $light;
	color: $primary;

	&:hover {
		box-shadow: 0 0 5em $hover-color;
	}
}