.btn-menu-principal {
  &:active {
		border-bottom: 3px solid $light;
  }

  &:hover {
		border-bottom: 3px solid $hover-color;
  }
}

.btn-circle {
	background-color: $light;
	color: $primary;
	border-radius: 50%;

	&:hover {
		box-shadow: 0 0 1px 45px rgba(#979797, 0.5);
	}
}