.navbar {
	margin: 1rem 0rem;
  padding-right: 0;
  padding-left: $navbar-padding-x;
}

.navbar-nav {
	backdrop-filter: blur(80px);
	padding: 2% 5% 2% 10%;
	gap: 50px;
}

.nav-item-active {
	color: $light;
}
