.home-section {
	min-height: 100%;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 8%;
}

.destination-section {
	min-height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	img {
		padding-top: 20%;
	}
}

hr {
	color: $light;
}