@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

h5 {
	font-family: $barlow-condensed;

	.heading5 {
		letter-spacing: 4.75px;
	}

	.subheading1 {
		letter-spacing: normal;
	}

	.subheading2 {
		letter-spacing: 2.35px;
	}
}

.nav-text {
	font-family: $barlow-condensed;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.7px;
}