$primary: #0B0D17;
$secondary: #D0D6F9;
$light: #FFFFFF;
$hover-color: #8A8B90;
$hover-button-color: #979797;

$bellefair: Bellefair, sans-serif;
$barlow-condensed: 'Barlow Condensed', sans-serif;

$font-family-base: $bellefair;

$nav-link-color: $light;
$navbar-padding-y: 0.5rem;
$navbar-padding-x: 3rem;